* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    font: 16px 'Noto Sans', sans-serif;
    background: linear-gradient(to bottom, #345 0%, #234 100%);
}
.sidemenu{
    width: 300px;
    background-color: rgba(221, 219, 219, 0.44);
    height: 100%;
    position: absolute;
    z-index: 1;
    padding: 25px;
}

.flavicons {
    margin: 0 0 10px;
}
.flavicons a {
    text-decoration: none;    
}
.nav {
    position: absolute;
    left: 300px;
    width: -moz-calc(100% - 300px);
    width: -webkit-calc(100% - 300px);
    width: calc(100% - 300px);
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    transform: translateZ(0);
}

.nav:hover .link {
    width: 18%;
}

.nav .link {
    position: relative;
    float: left;
    width: 20%;
    height: 100%;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
    color: #fff;
    border-right: 1px solid rgba(255, 255, 255, 0.4);
    transition: .2s width;
    overflow: hidden;
    cursor: pointer;
}

.nav .link:last-child {
    border-right: 0;
}

.nav .link:hover {
    width: 28%;
}

.nav .link .small {
    position: absolute;
    top: 0;
    left: 20px;
    width: 25%;
    line-height: 1;
    text-align: center;
    font-family: 'Roboto Slab';
    font-size: 400px;
    transition: .5s opacity;
}
.nav .link .title{
    position:absolute;
    bottom:40px;
    right:0;
    text-transform: uppercase;
    line-height: 1;
    text-align: right;
    font-family: 'Roboto Slab';
    font-size: 30px;
    vertical-align: bottom;
    transition: .5s opacity;
}

.nav .link:hover .title{
  opacity:0;
}
.nav .link:hover .small {
    opacity: 1;
}

.nav .link .full {
    position: absolute;
    bottom: 30px;
    text-transform: uppercase;
    opacity: 0;
    font-size: 30px;
    white-space: nowrap;
    bottom: -20px;
    left: 50%;
    transform:translate(-50%, 50%);
}


.nav .link:hover .full {
    transition: .5s all;
    transform:translate(-50%,-150%);
/*    this opacity makes the current full appear on hover*/
    opacity:1;
     
}

.nav .link .prev {
    position: absolute;
    top: 0;
    left: 7px;
    font-family: 'Roboto Slab';
    font-size: 80px;
    line-height: 78px;
    transition: .5s opacity;
    opacity: 0;
}

.nav .link:hover .prev {
    opacity: 0;
}

.nav:hover .prev {
   opacity: 1; /* this line makes the other full appear on hover*/
}

.nav:hover .small {
/*    opacity: 0; this line makes the other panels disappear when hovering over*/
}

/*-----buttons-----*/
.full a{
    text-decoration: none;
    background-color:#333;
    padding:8px 24px;
    color: #fff;
}

.full a:hover{
    background-color:#670e0e;
    color: #fff;
}