.container {
    display: flex;
}

a {
    color: $red;
}
aside {
    flex-basis: 100px;
    font-size: 32px;
    display: flex;
    justify-content: center;
    @media screen and (max-width: $mobile) {
        flex-basis: 30px;
    }
}

section {
    flex: 1;
}

#start {
    display: flex;
    justify-content: space-between;
    @media screen and (max-width: $mobile) {
        flex-direction: column;
    }
    max-width: $wide;
}

.header {
    height: calc(100vh - 124px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    p {
        line-height: 4;
        // color: #e91c1c;
        // text-shadow: 1px 1px #681010;
    }
    @media screen and (max-width: $mobile) {
        height: auto;
        margin-bottom: 4rem;
    }
}

.portrait {
    margin-bottom: -3rem;
    z-index: 1;
    img {
        max-width: 510px;
    }
    @media screen and (max-width: $mobile) {
        display: none;
    }
}

.sclnks {
    display: flex;
    justify-content: flex-start;
    margin-top: 0.7em;
}

.sclnk {
    flex-basis: auto;
    margin-right: 1em;
    svg {
        width: 32px;
        height: 32px;
        fill: $purple;
    }
}

#currently {
    padding: 3rem;
    padding-top: 6rem;
    display: flex;
    justify-content: flex-start;
    @media screen and (max-width: $mobile) {
        display: block;
    }
    h2 {
        flex-basis: 15%;
        hr {
            width: 25%;
            border: 2px solid $red;
            margin: 7px 0;
        }
    }
}

.current-job {
    flex: 1;
    border-bottom: 4px solid $purple;
    margin-left: 1rem;
    @media screen and (max-width: $mobile) {
        padding-top: 1rem;
        padding-left: 0;
    }
    h4 {
        margin-bottom: 1.5rem;
    }
    p {
        max-width: 420px;
        margin-bottom: 8rem;
    }
}

#work {
    padding: 3rem;
    padding-top: 6rem;
    display: flex;
    justify-content: space-between;
    @media screen and (max-width: $mobile) {
        display: block;
    }
    hr {
        width: 8%;
        border: 2px solid $purple;
        margin: 7px 0;
    }
    .showcase {
        position: relative;
        flex: 1;
        text-align: right;
        img {
            z-index: 1;
            margin-right: 4rem;
            max-width: none;
            box-shadow: 0 10px 15px rgba(102, 119, 136, 0.03),
                0 10px 20px rgba(102, 119, 136, 0.3);

            @media screen and (max-width: $mobile) {
                margin-right: 1rem;
                max-width: 100%;
            }
        }
    }
    .rect {
        position: absolute;
        right: -3rem;
        bottom: 10rem;
        height: 6rem;
        width: 100%;
        z-index: -1;
    }
}

#skills {
    padding: 3rem;
    padding-top: 6rem;
    @media screen and (max-width: $mobile) {
        padding: 0;
        padding-top: 0;
    }
}
.lists {
    display: inline-flex;
    background-color: $gray;
    margin-left: 3rem;
    margin-bottom: -15rem;

    @media screen and (max-width: $mobile) {
        display: block;
        margin-left: 0;
    }

    &-skills {
        padding: 3rem;
        background-color: $yellow;
        hr {
            width: 100%;
        }
    }
    &-history {
        padding: 3rem;
        hr {
            width: 45%;
        }
    }
}

#footer {
    padding: 2rem 3rem;
    padding-top: 18rem;
}
